*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
}

body{
  height: 100vh;
  font-family: 'Prompt', sans-serif;
  
}
.container{
  width: 100vw;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
}
.main{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(bg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: repeat;
}

.choice{
  text-align: right;
  padding-right: 0px!important;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
}

.choice span{
  margin: 5px;
 transform: translateX(50px)!important;
 cursor: pointer;
}

.header{
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 5px;
  word-spacing: 10px;
}


label{
  margin-right: 5%;
}

.city{
  font-size: 35px;
  letter-spacing: 3px;
}

.temperature{
  font-size: 30px;
}

.time{
  letter-spacing: 5px;
}

.time ion-icon{
  margin: 0 2px;
}
.btn{
  background-color: orangered!important;
  outline: none!important;
  border: 0px!important;
  color: white!important;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none!important;
  box-shadow: none!important;
}

.holders {
  border-radius: 40%;
  display: inline-block;
  height: 75px;
  width: 170px;
  margin-right: 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.527);
  border: 1px solid #fff;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  box-shadow: 0 4px 8px rgba(92, 92, 92, 0.6);
  padding: 0 5px;
  padding-top: 15px;
}

.selected{
  color: orangered;
}

